.total_page{
    margin-right: 10px;
    font-size: 14px;
}
.page_btn {
    margin-right: 7px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #333;
    background-color:#fff;
    border: 1px solid #ccc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page_btn :active :focus :hover {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
    color: #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.page_input{
    width: 40px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    text-align: center;
    margin-right: 7px;
}